.SignIn {
    width: 100%;
    height: calc(100vh);
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.btn-primary-login {
    color: #fff !important;
    background-color: #279FFC !important;
    border-color: #008dfa !important;
}

.btn-primary-login:hover {
    color: #fff !important;
    background-color: #278bd8 !important;
    border-color: #278bd8 !important;
}
.flat{
    border-radius: 0 !important;
}

div.cn {
    /* display: table-cell;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    text-align: center; */
    display: table-cell;
    width: 100vw;
    height: 100vh;
    vertical-align: bottom;
    text-align: right;
    padding-right: 34px;
}

div.inner {
    display: inline-block;
}
