/* BRAND BUTTONS */

.button-brand {
    display: table;
    top: 0;
    left: 0;
    background-color: #dddfeb;
    height: 32px;
    width: 100%;
    border-bottom: 2px solid #1cc88a;
    text-align: right;
    padding-right: 10px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

/* BOTONES */

.box-button {
    vertical-align: text-bottom;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 15px;
    color: #1cc88a;
    transition: color 1s ease;
}

.box-button.contrast {
    color: #ddd !important;
}

.box-button:hover {
    color: rgb(7, 146, 61)
}

.box-button:hover i.fa {
    text-shadow: 0 0 5px rgb(7, 146, 61)
}

.box-button.danger:hover {
    color: rgb(198, 40, 40);
}

.box-button.danger:hover i.fa {
    text-shadow: 0 0 5px rgba(198, 40, 40, 0.6);
}

.box-button.disabled {
    color: #bbb !important;
    cursor: not-allowed;
}

.box-button.disabled:hover {
    color: #bbb !important;
}

.box-button.disabled:hover i.fa {
    text-shadow: none;
}

.box-button.danger.disabled.contrast {
    color: #888 !important;
    cursor: not-allowed;
}

.box-button.disabled.contrast {
    color: #888 !important;
    cursor: not-allowed;
}

.box-button.danger.disabled.contrast:hover i.fa {
    text-shadow: none;
}

.box-button.disabled.contrast:hover i.fa {
    text-shadow: none;
}

/* SELECTOR INPUT */

.SelectorInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2px;
}

.SelectorInput span.caption {
    flex: 1;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SelectorInput span.caption span {
    width: 100%;
    line-height: 20px;
}

.SelectorInput span.reset {
    width: 14px;
    color: #aaa;
    cursor: pointer;
    line-height: 24px;
    margin-right: 10px;
}

.SelectorInput span.reset:hover {
    color: #777
}

.SelectorInput span.button {
    width: 20px;
    position: relative;
}

.SelectorInput span.button button {
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 16px;
    border: 1px solid #aaa;
    border-radius: 16px;
    padding: 0 4px;
    margin-left: -4px;
    outline: none;
    font-weight: bold;
}

.SelectorInput span.button button:hover {
    background: #ccc;
}

/*  */

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

/*  CONTROLES  */

.form-control-sm1 {
    height: calc(1.7em + 0rem + -5px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}