/* BRAND BUTTONS */

.button-brand {
    display: table;
    top: 0;
    left: 0;
    background-color: #dddfeb;
    height: 32px;
    width: 100%;
    border-bottom: 2px solid #1cc88a;
    text-align: right;
    padding-right: 10px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

/* BOTONES */

.box-button {
    vertical-align: text-bottom;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 15px;
    color: #1cc88a;
    transition: color 1s ease;
}

.box-button.contrast {
    color: #ddd !important;
}

.box-button:hover {
    color: rgb(7, 146, 61)
}

.box-button:hover i.fa {
    text-shadow: 0 0 5px rgb(7, 146, 61)
}

.box-button.danger:hover {
    color: rgb(198, 40, 40);
}

.box-button.danger:hover i.fa {
    text-shadow: 0 0 5px rgba(198, 40, 40, 0.6);
}

.box-button.disabled {
    color: #bbb !important;
    cursor: not-allowed;
}

.box-button.disabled:hover {
    color: #bbb !important;
}

.box-button.disabled:hover i.fa {
    text-shadow: none;
}

.box-button.danger.disabled.contrast {
    color: #888 !important;
    cursor: not-allowed;
}

.box-button.disabled.contrast {
    color: #888 !important;
    cursor: not-allowed;
}

.box-button.danger.disabled.contrast:hover i.fa {
    text-shadow: none;
}

.box-button.disabled.contrast:hover i.fa {
    text-shadow: none;
}

/* SELECTOR INPUT */

.SelectorInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2px;
}

.SelectorInput span.caption {
    flex: 1;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SelectorInput span.caption span {
    width: 100%;
    line-height: 20px;
}

.SelectorInput span.reset {
    width: 14px;
    color: #aaa;
    cursor: pointer;
    line-height: 24px;
    margin-right: 10px;
}

.SelectorInput span.reset:hover {
    color: #777
}

.SelectorInput span.button {
    width: 20px;
    position: relative;
}

.SelectorInput span.button button {
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 16px;
    border: 1px solid #aaa;
    border-radius: 16px;
    padding: 0 4px;
    margin-left: -4px;
    outline: none;
    font-weight: bold;
}

.SelectorInput span.button button:hover {
    background: #ccc;
}

/*  */

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

/*  CONTROLES  */

.form-control-sm1 {
    height: calc(1.7em + 0rem + -5px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.sidenav {
    height: 100%;
    width: 50vw;
    position: fixed;
    z-index: 200;
    top: 4.41rem;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
}

.placeholder {
    background: #1cc88a;
    display: block;
}

.placeholder::before {
    content: "Mover aqui...";
    /* color: rgb(225, 210, 90); */
}

.react-grid-Cell--frozen {
    z-index: 0;
}

.css-mdm715 {
    z-index: 1 !important;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

.disabledCell {
    pointer-events: none;
    background-color: #dad8d8;
    opacity: 0.4;
}

/* SPINNER */

.loading-main {
    height: 100vh;
    background-color: #bdbdbd59;
    width: 100vw;
    position: absolute;
    z-index: 10000;
}

.textLoading {
    height: auto;
    width: auto;
    position: absolute;
    left: 45%;
    top: 61%;
    font-weight: bold;
    color: #5f8c54;
}

.spin {
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spin span {
    height: 56px;
    width: 56px;
    border: 1px solid #2dc35b;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2500ms ease-in-out infinite;
}

.spin .one {
    animation-delay: 500ms;
    animation: spin 3000ms ease-in-out infinite;
}

.spin .two {
    animation: spin 2700ms ease-in-out infinite;
    animation-delay: 500ms;
    border: 10px solid #5433da;
}

.spin .two {
    animation: spin 3000ms ease-in-out infinite;
    border-color: #40f5dc;
}

@keyframes spin {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes hide {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.totales {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
    border: 1px solid #e3e6f0;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    display: table;
    top: 0;
    left: 0;
    background-color: #f8f9fc;
    height: 32px;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}
